html,
.text-center {
  height: 100%;
}

.text-center {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #AAE3E2;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-radius:5%;
}

.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-radius:5%;
}

.mb-4{
    height:60%;
    width:60%;
    border-radius: 50%;
}

/* ----------------------------Success.html--------------------------------- */

.sf{
  background-color: #AAE3E2;
  text-align:center;
  border-top:50%;
  margin-top: 200px;
  font-size: 80%;
}

.lead{
  margin-top: 30px;
}

.try{
  margin-top:30px;
}